<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
				
		<div th:each="storedTransaction : ${transaction}">
			<div th:if="${transaction.type == 'C'}">
				<h2 >Transaction ID: 
						<span th:text="${transaction.id}" ></span> 
						(Credit)
				</h2>
				
				
				
				<p>Date: <span th:text="${transaction.date}"></span></p>
				<p>Amount: <span th:text="-${transaction.amount}"></span></p>
				<p>Description: <span th:text="${transaction.retailer}"></span></p>
			</div>
			<div th:if="${transaction.type == 'D'}">
				<h2 >Transaction ID: 
						<span th:text="${transaction.id}" ></span> 
						(Debit)
				</h2>
				
				
				
				<p>Date: <span th:text="${transaction.date}"></span></p>
				<p>Amount: <span th:text="${transaction.amount}"></span></p>
				<p>Description: <span th:text="${transaction.retailer}"></span></p>
			</div>
			
			<a href = "../transactions">back</a>
		</div>
	</body>
</html>